@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PATIENT MANAGEMENT SYSTEM</h1>
    <p class="lead">Welcome to Patients Management system where Patients are taken care off.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-large">Doctors Online&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ADMINISTRATION</h2>
        <p>
           This Section involves all administration  activities such as new dectors registration ,Employess, etc
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Admin  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EMPLOYEE</h2>
        <p>The Employee is responsible for all registration of doctors and Patients.</p>
        <p><a class="btn btn-default" href="/Account/Login">Employee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DOCTORS</h2>
        <p>A doctor can Vie the Patients assigned for treatment.</p>
        <p><a class="btn btn-default" href="/Account/Login">Doctors &raquo;</a></p>
    </div>
</div>
